body{
    background: #1d1e21;
    color: #fff;

}

.weightIn {
    line-height: 2vw;
    height: 40px;
}

.btn{
    font-size: 1vw;
    color: #fff;
}


.title{
    text-align: center;
    max-width: 70%;
    margin-top: 80px;
    margin-bottom: 50px;
}



.convert{
    max-width: 70%;
    min-width: 30%;
}

.jumbotron h1{
    font-size: 7vw;
}

.kg{
    background-color: #2e5add;
    display: none;
}

.g{
    background-color: #0adb06;
    display: none;
}

.o {
    background-color: #e50422;
    display: none;
}